@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("//db.onlinewebfonts.com/t/b5fee7e9db373a89005fd7969134c72c.eot");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #2c2c2c;
    font-family: 'Roboto', sans-serif;
}

nav{
    padding:1rem 1.5rem;    
   
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.active{
    display: inline-block !important;
}
.active i{
   color: crimson;
}
/* mobile */
.nav-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header .title{
    font-family: "Inkburrow";
    color:white;
    font-size: 1.5rem;
    width:200px;
}

.nav-header .title span{
    color:crimson;
    font-size: 2rem;
}

.nav-header .nav-toggle{
    font-size: 1rem;
    color: white;
    padding:5px 8px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.nav-header .nav-toggle:hover{
    color: crimson;
    
}

.nav-container{
    height:0;
    overflow: hidden;
    padding:10px 0;
}

.show-nav{
    height: auto;
}

.nav-container .nav-list li{
    padding:10px 0;
    cursor: pointer;
}

.nav-container .nav-list li a{
    display: block;
    color:white;
    transition: all 0.5s ;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-container .nav-list li a:hover{
    color:rgb(255, 0, 0);
}

#project{
    min-height:100vh;
    padding:10px;
}

.project-title{
    text-transform: uppercase;
    color:white;
    text-align: center;
    border-bottom: 2px solid white;
    width: 150px;
    padding:10px;
    margin: 0 auto;
}

.project-title span{
    color: crimson;
}

.underline{
    width:30px;
    height:3px;
    background-color: white;
    margin: 0 auto;
}

.flex{
    text-align: center;
    padding:40px 0;
}

.flex .btn-container .btn{
    margin: 0 10px ;
    font-size: 1.3rem;
    color: white;
    padding:20px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    object-fit: cover;
    transition: 0.5s ;
}

.flex .btn-container .btn:hover{
    color:crimson
}

.project-container{
    padding:10px;
}

.inner-container{
    display: none;
    width: 80%;
}

.inner-container .grid{ 
    display: grid;
    place-items: center;
    gap:2rem;
}

.project-item{
    box-shadow: 0 5px 12px 0 crimson;
    transition: 0.3s;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.project-item:hover{
    box-shadow: 0 5px 12px 10px crimson;
}

.project-item img{
    width: 100%;
    height:250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.project-item .desc{
    padding: 15px;
    background-color: white;
     border-radius:0 0 10px 10px ;
}

.project-item .desc a{
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
    text-transform: capitalize;
}

#about{
    min-height:100vh;
    padding:20px;
    
}

.about-title{
    text-transform: uppercase;
    color:white;
    text-align: center;
    border-bottom: 2px solid white;
    width: 150px;
    padding:10px;
    margin: 0 auto;
    width:200px;
}

.about-title span{
    color: crimson;
}

.about-container{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.about-desc{
    padding:20px;
}

.about-desc .link{
    color: crimson;
}
.about-desc .link:hover{
    color: rgb(255, 40, 60);
}

.about-desc p{
    line-height: 50px;
    letter-spacing: 5px;
    font-size: 1.2rem;
    color: white;
}

.hobby p{
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: white;
}

/* end mobile */
/* tablet */
@media all and (min-width:768px){
    .nav-center{
        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-header .title{
        font-size: 2rem;
        margin-left: 4rem;
    }

    .nav-header .title span{
        color:crimson;
        font-size: 2rem;
    }

    .nav-header .nav-toggle{
       display: none;
    }

    .nav-container{
        height: auto;
        max-width:500px;
    }

    .nav-container .nav-list{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-container .nav-list li{
        padding:0 20px;
    }

    .project-item{
        width: 100%;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/* end tablet */
/* Desktop */
@media all and (min-width:1146px){
    .nav-center{
        justify-content: space-between;
    }

    .project-item{
        width: 70%;
    }
    
    .inner-container{
        width: 100%;
    }

}


#myBtn {
  display: none;
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  z-index: 99;
  border: none; 
  outline: none; 
  background-color: transparent; 
  cursor: pointer; 
  font-size: 2rem;
  color:crimson;
}

#myBtn:hover i{
  color: rgb(220,40,60);
}